yarn.lock
.env
*.*~
release/
*.local
build
dist
.DS_Store
*.log
src/assets/.DS_Store
!src/assets/
node_modules
app/log
app/*.log
app/prepare_build
app/test_build
ng_web_sdk
*.sh
back
mac
win32
.history